/* Colors
  Background (white): white,#FFFFF;
  Background accent (dark grey): #9099A1
  Primary Color (Turquoise): #025159
  Secondary Color 1 (Light Turquoise): #03A696
  Secondary Color 2 (Dark Orange): #F28705
  Secondary Color 3 (Light Orange): #F25D27
  Secondary Color 2 (Red): #F20505
  padding: top right bottom left;
  */
/* fonts used:
  Heading - Sourse Sans Pro
  Subtitle - Comfortaa
  Body - Enriqueta */

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color:#4a4a4a;
    padding: 5px;
  }

  img{
    width: auto;
    max-width:100%;
    height: auto;
  }

  h1, h2, h3 {
    line-height: 1.4;
    margin: 0;
    font-weight: 600;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
    color: #025159;
  }
  h2 {
    font-size: 2em;
    font-weight: 700;
    color: #025159;

  }
  h3, h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 400;
    color: #03A696;
  }

  /* navigation */

  .navtoggle li:not(:last-child) {
    display: none;
  }

    .navtoggle,
  .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right:0;
}
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }



  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }


  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #dbdbdb;
  }

/*Layout Style*/

header {
  display: inline-block;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.5);
  position: fixed;
  background-color: #fff;
  padding: 10px 0;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.inline {
  display: inline;
}

.skills {
  display: inline-table;
}

.icon {
  display: inline-block;
  width: 100%;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navtoggle {
   display: inline-block;
   width: 100%;
   height: 150px;
 }
main {
  padding-top: 56px;
}

[class*="col-"] {
  float:left;
}


#header {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-bottom: 3px solid white;
}

.logo {
  max-width: 50px;
  position: relative;
  float: left;
  padding: 0;
}

selector {
  margin: 0 auto;
}

#header-intro {
  background-color: white;
  color: #A9A9A9;
  text-align: center;
  padding: 30px;
  width: 100%;
}

#main {
  clear: both;
  color: #A9A9A9;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

#main .img-responsive {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

#skills {
  padding:0;
  display: inline-grid;
  text-align: left;
}

#footer {
  clear: both;
  float: bottom;
  width: 100%;
  background-color: white;
  color: #ff7f50;
  text-align: left;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

.col-md-6 {
  width: 50%;
  position: relative;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}
a:hover {
  color: #03A696;
  text-decoration: underline;
}
a:visited { /* visited link */
  color: #ff7f50;
}
a:active { /* selected link */
  color: #994c30;
}
.row {
  margin: 25px 0;
  display: inline-block;
}

.button {
  display: inline-block;
  background-color: #03A696;
  color: white !important;
  font-weight: 400;
  padding: 4px;
  border-radius: 3px;
  border-bottom: 2px solid #026e63;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #025159 !important;
  text-transform: uppercase;
  border: 2px solid #013c42;
}

.button.contact:hover {
  background-color: #F25D27;
  color: #ffffff !important;
}

/* media sizes */

/* medium devices (640px and larger) */
@media only screen and (min-width: 641px){
  .row::after {
      content: '';
      clear: both;
      display: table;
    }
  header {
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .nav-container {
     max-width: 500px;
     margin: 0 auto;
   }

   .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 37px;
    font-size: 40px;
  }
   .navtoggle li:not(:last-child) {
    display: inline-block;
   }
   .navtoggle li:last-child {
    display: none;
   }

   nav > ul {
     margin: 1em 0;
   }
   nav > ul > li {
     display: inline-block;
   }

}
/* large devices (1024px or larger) */
@media only screen and (min-width: 1024px){
  .row::after {
      content: '';
      clear: both;
      display: table;
    }
        header {
      text-align: unset;
    }
    .nav-container {
      max-width: 1000px;
      margin: 0 auto;
    }

    body {
      font-size: 22px;
    }
    .col-lg-7 {
      width: 60%;
    }
    .col-lg-5 {
      width:40%;
    }
}

/* x-large devices (1440px or larger) */
@media only screen and (min-width: 1440px){
  .row::after {
      content: '';
      clear: both;
      display: table;
    }
    .nav-container {
   max-width: 1200px;
   margin: 0 auto;
 }
 header {
  text-align: unset;
}

}

/* xx-large devices (1920px or larger) */
@media only screen and (min-width: 1920px){

}

/* animation */

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
